@include tablet {
  .contact-1024 {
    display: flex;
    width: 100%;

    .contact-1024__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;

      h2 {
        margin: 0;
        margin-bottom: 22px;
        text-align: start;
        color: var(--black-color);
        font-family: 'TTFirsNeue';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
      }

      .contact-form-map {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 30px;

        .contact-form-map__map {
          display: grid;
          grid-column: 1/6;
          grid-template-rows: repeat(3, 157px);
          width: 590px;
          height: 460px;
          background: url(../img/map__1024.webp), var(--black-color);

          .contact-form-map__api-map {
            filter: grayscale(100%);
          }

          .contact-form-map__info {
            position: relative;
            bottom: 12px;
            padding: 25px 20px 30px 30px;
            background: rgba(32, 32, 32, 0.85);
            grid-row: 3/3;

            .contact-hover__btn-container {
              position: absolute;
              margin: 0;
              right: 0px;
              top: 0px;
            }

            h3 {
              margin: 0;
              margin-bottom: 5px;
              color: var(--white-color);
              font-family: 'TTFirsNeue';
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 22px;
            }

            p {
              margin: 0;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              color: #CACACA;
              width: 293px;
            }

            .contact-form-map__phone {
              position: relative;
              bottom: 24px;
              left: 152px;
              display: inline-flex;
              gap: 2.75px;
              align-items: center;

              a {
                color: var(--burnt-orange-color);
                font-family: 'TTFirsNeue';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }

  .contact-form-map__form {
    grid-column: 6/9;
    position: relative;
    bottom: 8px;

    h3 {
      margin: 0;
      margin-bottom: 5px;
      color: var(--black-color);
      font-family: 'TTFirsNeue';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;
    }

    p {
      margin: 0;
      margin-bottom: 15px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #999999;
    }

    input {
      margin-bottom: 20px;
      width: 342px;
      height: 50px;
      color: #202020;
      padding: 0 23px;
      background: #E9E9E9;
      outline: none;


      &:focus {
        outline: 1px solid var(--burnt-orange-color);
      }

      ::placeholder {
        color: #999999;
      }
    }

    textarea {
      margin-bottom: 15px;
      width: 342px;
      height: 150px;
      color: #202020;
      padding: 15px 23px;
      background: #E9E9E9;
      outline: none;

      &:focus {
        outline: 1px solid var(--burnt-orange-color);
      }

      ::placeholder {
        color: #999999;
      }
    }
  }

}
