.contact-1024 {
  display: none;
}

.contact {
  width: 100%;
  background-color: var(--white-color);

  @include tablet {
    display: none;
  }

  @include small-tablet {
    display: none;
  }

  .contact__container {
    h2 {
      margin: 0;
      margin-top: 2px;
      margin-bottom: 21px;
      color: var(--black-color);
      font-family: 'TTFirsNeue';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
    }
  }
}

.contact-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  margin-bottom: 65px;

  .contact-block__map {
    overflow: hidden;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url(../img/map.webp), var(--black-color);

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
    }
  }
}

.contact-hover {
  background: rgba(32, 32, 32, 0.85);
  width: 410px;
}

.contact-hover__btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px;
}

.contact-hover__btn {
  width: 20px;
  height: 20px;
  background: #999999;
  border-radius: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  .contact-hover__btn-el-1 {
    position: relative;
    left: 5px;
    width: 12px;
    height: 1px;
    background: var(--white-color);
    transform: rotate(-45deg);
  }

  .contact-hover__btn-el-2 {
    position: relative;
    right: 5px;
    width: 12px;
    height: 1px;
    background: var(--white-color);
    transform: rotate(45deg);
  }
}

.contact-hover__desc {
  color: var(--white-color);
  width: 300px;
  margin-top: 115px;
  margin-left: 60px;

  h3 {
    margin: 0;
    font-family: 'TTFirsNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
  }

  p {
    margin: 0;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #CACACA;
  }

  .number {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 2px;
    gap: 2px;

    a {
      margin: 0;
      margin-top: 5px;
      color: var(--burnt-orange-color);
      font-family: 'TTFirsNeue';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      transition: color 300ms var(--default-cubic);

      &:hover {
        color: var(--tuft-bush-color);
      }
    }
  }
}

.contact-block__desc-chec {
  width: 430px;
}

.contact-block__desc-map {
  opacity: 1;
  visibility: hidden;
}

.map-dot {
  margin-top: -12px;
  position: relative;
  left: 201px;
  top: 95px;
}


.contact-form {
  position: relative;
  left: 15px;
  top: -5px;

  h3 {
    margin: 0;
    color: var(--black-color);
    font-family: 'TTFirsNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
  }

  p {
    margin: 0;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
  }

  .contact-form__form {
    label {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 14px;

      input {
        width: 410px;
        height: 50px;
        padding: 0 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--black-color);
        background: #E9E9E9;

        &::placeholder {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #999999;
        }
      }

      .form__name,
      .form__email,
      .form__text {
        &:hover {
          &::placeholder {
            color: var(--burnt-orange-color);
          }
        }

        &:focus {
          outline: solid 1px var(--burnt-orange-color);
        }

        &:active {
          &::placeholder {
            color: #999999;
          }
        }
      }

      textarea {
        max-width: 410px;
        min-height: 150px;
        max-height: 150px;
        resize: none;
        padding: 15px 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #999999;
        background: #E9E9E9;
        margin-bottom: 18px;

        &::placeholder {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #999999;
        }
      }
    }
  }
}
