.footer {
  width: 100%;
  background: var(--black-color);
  @include small-tablet {
    display: none;
  }
}
.footer__container {
  width: 100%;
  height: 106px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  @include tablet {
    grid-template-columns: repeat(8, 1fr);
  }
}

.logo-footer__logo {
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  font-family: "TTFirsNeue";
  font-size: 30px;
  gap: 11px;
  p {
    margin: 0;
    font-weight: 700;
  }
}

.logo-footer__copy {
  color: #E9E9E9;
  font-family: 'TTFirsNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.quote-footer {
  position: relative;
  top: 4px;
  left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}

.social-footer {
  position: relative;
  left: 135px;
  bottom: -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
  p {
    margin: 0;
    margin-bottom: 8px;
  }
}

.social-footer__svg {
  display: flex;
  flex-direction: row;
  gap: 20px;
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    svg {
      width: 30px;
      height: 30px;
      fill: #CACACA;
      transition: fill 300ms var(--default-cubic);
      &:hover {
        fill: var(--burnt-orange-color);
      }
      &:focus {
        fill: var(--fier-orange-color);
      }
      &:active {
        fill: var(--harley-orange-color);
      }
    }
  }
}


@include tablet {
  .logo-footer {
    grid-column: 1/4;
    position: relative;
    top: 2px;
    img {
      width: 26.18px;
      height: 26.18px;
    }
    p {
      font-size: 26px;
    }
  }
  .quote-footer {
    grid-column: 4/7;
  }
  .social-footer {
    grid-column: 7/9;
    left: 40px;
    bottom: 0;
  }
}

@include small-tablet {
  .first-nav {
    display: none;
  }
}
