<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__h2">О студии</h2>
    <div class="about__grid">
      <p class="about__grid-text">
        В рамках спецификации современных стандартов, интерактивные прототипы,
        инициированные исключительно синтетически, ограничены исключительно
        образом мышления. Предварительные выводы неутешительны:
        высокотехнологичная концепция общественного уклада требует
        от нас анализа соответствующих условий активизации! Следует отметить,
        что семантический разбор внешних противодействий фиксирует необходимость
        распределения внутренних резервов и ресурсов. Безусловно, граница
        обучения кадров предоставляет широкие возможности для первоочередных
        требований. Повседневная практика показывает, что глубокий уровень
        погружения предполагает независимые способы реализации новых принципов
        формирования материально-технической и кадровой базы. Приятно, граждане,
        наблюдать, как явные признаки институционализации являются только
        методом политического участия и нарушающими общечеловеческие нормы
        этики.
      </p>
      <picture>
        <source
          srcset="img/about-photo1_1x.avif 1x, img/about-photo1_2x.avif 2x"
          type="image/avif"
        />
        <source
          srcset="img/about-photo1_1x.webp 1x, img/about-photo1_2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/about-photo1_1x.jpg 1x, img/about-photo1_2x.jpg 2x"
          class="about-photo"
          width="466"
          height="332"
          alt="about photo"
        />
      </picture>
      <form action="##" class="about__grid-form form">
        <h3 class="about__grid-form-name">Подписаться на рассылку</h3>
        <label class="form__label">
          <input
            type="email"
            name="Почта"
            class="input-reset form__input about__grid-form-input"
            placeholder="Email"
          />
        </label>

        <button class="btn-reset form__btn about__grid-form-button">Отправить</button>
      </form>
    </div>
  </div>
</section>
