<section class="burger-menu" data-menu>
  <div class="burger-menu__container container">
    <button class="burger-menu__button">
      <svg class="close-burger-svg">
        <use xlink:href="../img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="burger-menu__nav">
      <ul class="burger-menu__nav-ul list-reset">
        <li class="burger-menu__nav-item-1"><a href="#about" data-menu-item>О студии</a></li>
        <li class="burger-menu__nav-item-2"><a href="#project" data-menu-item>Наши  проекты</a></li>
        <li class="burger-menu__nav-item-3"><a href="#" data-menu-item>Услуги</a></li>
        <li class="burger-menu__nav-item-4"><a href="#hero" data-menu-item>Мастер-классы</a></li>
        <li class="burger-menu__nav-item-5"><a href="#" data-menu-item>Контакты</a></li>
      </ul>
    </div>
    <div class="burger-menu__phone">
      <svg class="phone-svg">
        <use xlink:href="../img/sprite.svg#phone"></use>
      </svg>
      <a href="tel: +749542423532">+7 495 424-23-532</a>
    </div>
  </div>
</section>
