<section class="contact" id="contact">
  <div class="contact__container container">
    <h2 class="contact__h2">Контакты</h2>
    <div class="contact__grid">
      <div class="contact__map" id="map"></div>
      <form action="#" class="contact__form form">
        <h3 class="contact__form-h3">Оставить заявку</h3>
        <p class="contact__form-text">
          Оставьте ваши данные, указав в графе «Комментарий» желаемые время
          и дату съёмки или другого мероприятия
        </p>
        <label class="form__label">
          <input
            type="text"
            name="Имя"
            class="input-reset form__input contact__form-name"
            placeholder="Имя"
          />
          <input
            type="email"
            name="Емаил"
            class="input-reset form__input contact__form-email"
            placeholder="Email"
          />
          <textarea
            name="Комментарий"
            placeholder="Комментарий"
            class="contact__form-comment"
          ></textarea>
        </label>
        <button class="btn-reset form__btn contact__form-button">
          Отправить
        </button>
      </form>
    </div>
  </div>
</section>
