<section class="contact" id="contact">
  <div class="contact__container container">
    <h2>Контакты</h2>
    <div class="contact-block">
      <div class="contact-block__map">
        <div class="contact-hover">
          <div class="contact-hover__btn-container">
            <button class="contact-hover__btn" name="close description">
              <div class="contact-hover__btn-el-1"></div>
              <div class="contact-hover__btn-el-2"></div>
            </button>
          </div>
          <div class="contact-hover__desc">
            <h3>Студия «High pass»</h3>
            <p>
              107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза»,
              этаж 8, офис № 82
            </p>
            <div class="number">
              <img
                src="img/phone.svg"
                alt="phone image"
                width="16.5"
                height="16.5"
              />
              <a href="tel: +749542423532">+7 495 424-23-532</a>
            </div>
          </div>
        </div>
        <div class="contact-block__desc-chec">
          <img
            class="map-dot"
            src="img/map-dot.svg"
            alt="location"
            width="12"
            height="12"
          />
          <div class="contact-block__desc-map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A3c1e30e953115114429a4918777a55a1cf7b4efb467c11021ff582a81c97bbfb&amp;source=constructor"
              width="850"
              height="460"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <h3>Оставить заявку</h3>
        <p>
          Оставьте ваши данные, указав в графе «Комментарий» желаемые время
          и дату съёмки или другого мероприятия
        </p>

        <form action="#" class="form contact-form__form">
          <label class="form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input form__name"
              placeholder="Имя"
            />
            <input
              type="email"
              name="email"
              class="input-reset form__input form__email"
              placeholder="Email"
            />
            <textarea
              type="text"
              name="Комментарий"
              class="input-reset form__input form__text"
              placeholder="Комментарий"
            ></textarea>
          </label>
          <button class="btn-reset form__btn submit-btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
