<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo">
      <a class="footer__logo-link" href="##">
        <picture>
          <source srcset="img/logo_1x.avif 1x, img/logo_2x.avif 2x" type="image/avif">
          <source srcset="img/logo_1x.webp 1x, img/logo_2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/logo_1x.png 1x, img/logo_2x.png 2x" class="logo-img" width="190.25" height="30.7" alt="logo high pass">
        </picture>
        <p>Фотостудия High pass® 2018–2020</p>
      </a>
    </div>
    <p class="footer__quote">
      Которая из моих фотографий самая любимая?<br>Та, которую я собираюсь снять завтра.<br>© Имоджен Каннингем
    </p>
    <div class="footer__social">
      <p class="footer__social-text">Больше интересного:</p>

      <div class="footer__social-container">
        <a href="##">
          <svg class="ok-svg">
            <use xlink:href="./img/sprite.svg#ok"></use>
          </svg>
        </a>
        <a href="##">
          <svg class="vk-svg">
            <use xlink:href="./img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
