<footer class="footer">
  <div class="footer__container container">
    <div class="logo-footer">
      <div class="logo-footer__logo">
        <picture>
          <source srcset="img/logo.avif" type="image/avif">
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="image" width="30" height="30" alt="logo">
        </picture>
        <p>High pass</p>
      </div>
      <div class="logo-footer__copy">
        <span>Фотостудия High pass® 2018–2020</span>
      </div>
    </div>
    <div class="quote-footer">
      <p>Которая из моих фотографий самая любимая?<br>Та, которую я собираюсь снять завтра.<br>© Имоджен Каннингем</p>
    </div>
    <div class="social-footer">
      <p>Больше интересного:</p>
      <div class="social-footer__svg">
        <a href="https://ok.ru/" target="_blank">
          <svg class="svg-ok">
            <use xlink:href="img/sprite.svg#ok"></use>
          </svg>
        </a>
        <a href="https://vk.com/" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
