<section class="header-second">
  <div class="header-second__container container">
    <nav class="nav second-nav" title="header navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll="">О студии</a></li>
        <li class="nav__item"><a href="#project" class="nav__link" data-scroll>Наши проекты</a></li>
        <li class="nav__item"><a href="#project" class="nav__link" data-scroll>Услуги</a></li>
        <li class="nav__item"><a href="#project" class="nav__link" data-scroll>Мастер-классы</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link" data-scroll>Контакты</a></li>
      </ul>
    </nav>
  </div>
</section>
