<header class="header">
  <div class="header-container container">
    <div class="logo">
      <picture>
        <source srcset="img/logo.avif" type="image/avif">
        <source srcset="img/logo.webp" type="image/webp">
        <img loading="lazy" src="img/logo.png" class="image" width="30" height="30" alt="logo">
      </picture>
      <h1>High pass</h1>
    </div>
    <nav class="nav first-nav" title="header navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll="">О студии</a></li>
        <li class="nav__item"><a href="#project" class="nav__link" data-scroll>Наши проекты</a></li>
        <li class="nav__item"><a href="#services" class="nav__link" data-scroll>Услуги</a></li>
        <li class="nav__item"><a href="#master-class" class="nav__link" data-scroll>Мастер-классы</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link" data-scroll>Контакты</a></li>
      </ul>
    </nav>
    <div class="search">
      <input class="search__input" type="text" name="search" placeholder="Что будем иcкать?">
      <button class="search-btn" name="search">
        <img class="search-svg" src="img/search.svg" class="image" width="25" height="25" alt="search">
      </button>
    </div>
  </div>
</header>
