<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <a href="#">
        <picture>
          <source srcset="img/logo_1x.avif 1x, img/logo_2x.avif 2x" type="image/avif">
          <source srcset="img/logo_1x.webp 1x, img/logo_2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/logo_1x.png 1x, img/logo_2x.png 2x" class="logo-img" width="190.25" height="30.7" alt="logo high pass">
        </picture>
      </a>
    </div>
  </div>
</header>
