<section class="hero" id="hero">
  <div class="hero__container container">
    <div class="hero__block-1">
      <div class="hero__block-1-hashtag">
        <a class="hero__block-1-hashtag-text" href="#"></a>
      </div>
      <p class="hero__block-1-text"></p>
      <h2 class="hero__block-1-h2"></h2>
      <button class="hero__block-1-button" name="узнать больше">
        Узнать больше
      </button>
    </div>

    <div class="hero__text">
      <h2 class="hero__text-h2"></h2>
    </div>

    <div class="hero__block-2">
      <a href="#">
        <picture>
          <source
            srcset="img/hero-photo2_1x.avif 1x, img/hero-photo2_2x.avif 2x"
            type="image/avif"
          />
          <source
            srcset="img/hero-photo2_1x.webp 1x, img/hero-photo2_2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/hero-photo2_1x.jpg 1x, img/hero-photo2_2x.jpg 2x"
            class="hero-photo"
            width="630"
            height="300"
            alt="hero photo two"
          />
        </picture>
      </a>
    </div>

    <div class="hero__block-3">
      <a href="#">
        <picture>
          <source
            srcset="img/hero-photo3_1x.avif 1x, img/hero-photo3_2x.avif 2x"
            type="image/avif"
          />
          <source
            srcset="img/hero-photo3_1x.webp 1x, img/hero-photo3_2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/hero-photo3_1x.jpg 1x, img/hero-photo3_2x.jpg 2x"
            class="hero-photo"
            width="300"
            height="257"
            alt="hero photo three"
          />
        </picture>
      </a>
    </div>

    <div class="hero__block-4">
      <a href="#">
        <picture>
          <source
            srcset="img/hero-photo4_1x.avif 1x, img/hero-photo4_2x.avif 2x"
            type="image/avif"
          />
          <source
            srcset="img/hero-photo4_1x.webp 1x, img/hero-photo4_2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/hero-photo4_1x.jpg 1x, img/hero-photo4_2x.jpg 2x"
            class="hero-photo"
            width="300"
            height="257"
            alt="hero photo four"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
