<section class="hero">
  <div class="hero__container container">
    <div class="hero__photo-set">
      <div class="hero__hashtag">
        <span>#мастеркласс</span>
      </div>
      <div class="photo-set-tittle">
        <p class="">Мастер-класс от Игоря Робова</p>
        <h2 class="">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <button class="more-btn">Узнать больше</button>
      </div>
    </div>
    <div class="hero__works">
      <h2>Работы участников предыдущего мастер-класса</h2>
      <div class="hero__photo-1">
        <picture>
          <source srcset="img/hero-photo-2.avif" type="image/avif" />
          <source srcset="img/hero-photo-2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero-photo-2.jpg"
            class="image"
            width="630"
            height="300"
            alt="women photo 2"
          />
        </picture>
      </div>
      <div class="hero__photo-1__1024">
        <picture>
          <source srcset="img/hero-photo-2__1024.avif" type="image/avif" />
          <source srcset="img/hero-photo-2__1024.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero-photo-2__1024.jpg"
            class="image"
            width="630"
            height="300"
            alt="women photo 2"
          />
        </picture>
      </div>
      <div class="hero__photo-2">
        <picture>
          <source srcset="img/hero-photo-3.avif" type="image/avif" />
          <source srcset="img/hero-photo-3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero-photo-3.jpg"
            class="image"
            width="300"
            height="257"
            alt="women photo 3"
          />
        </picture>
      </div>
      <div class="hero__photo-3">
        <picture>
          <source srcset="img/hero-photo-4.avif" type="image/avif" />
          <source srcset="img/hero-photo-4.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/hero-photo-4.jpg"
            class="image"
            width="300"
            height="257"
            alt="women photo 4"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
