<section class="project" id="project">
  <div class="project__container container">
    <h2 class="project__h2">Наши проекты</h2>
    <div class="project__grid">
      <div class="project__grid-item-1">
        <div class="project__hashtag"><a href="##">#пейзаж</a></div>
        <picture>
          <source srcset="img/project-photo1_1x.avif" type="image/avif" />
          <source srcset="img/project-photo1_1x.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-photo1_1x.jpg"
            class="project__grid-item-1-photo"
            width="190"
            height="184"
            alt="project photo one"
          />
        </picture>
        <p class="project__grid-item-1-text-first">
          <a href="##">
            <no-typography>
              Синтетически, смешаны с не уникальными данными до степени…
            </no-typography>
          </a>
        </p>
        <p class="project__grid-item-1-text-second">
          <a href="##">
            <no-typography>
              Синтетически, смешаны с не уникальными…
            </no-typography></a>
        </p>
        <div class="project__grid-item-1-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>16 июня</span>
        </div>
      </div>
      <div class="project__grid-item-2">
        <div class="project__hashtag"><a href="##">#портрет</a></div>
        <picture>
          <source srcset="img/project-photo2_1x.avif" type="image/avif" />
          <source srcset="img/project-photo2_1x.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-photo2_1x.jpg"
            class="project__grid-item-2-photo"
            width="190"
            height="184"
            alt="project photo two"
          />
        </picture>
        <p class="project__grid-item-2-text-first">
          <a href="##">
            <no-typography>
              В своём стремлении улучшить опыт&nbsp;мы упускаем, что явные...
            </no-typography>
          </a>
        </p>
        <p class="project__grid-item-2-text-second">
          <a href="##">
            <no-typography>
              В своём стремлении улучшить опыт мы…
            </no-typography>
            </a>
        </p>
        <div class="project__grid-item-2-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>28 мая</span>
        </div>
      </div>
      <div class="project__grid-item-3">
        <div class="project__hashtag"><a href="##">#предмет</a></div>
        <picture>
          <source srcset="img/project-photo3_1x.avif" type="image/avif" />
          <source srcset="img/project-photo3_1x.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-photo3_1x.jpg"
            class="project__grid-item-3-photo"
            width="190"
            height="184"
            alt="project photo three"
          />
        </picture>
        <p class="project__grid-item-3-text-first">
          <a href="##">
            <no-typography>
              Равным образом, высокое качество позиционных…
            </no-typography>
            </a>
        </p>
        <p class="project__grid-item-3-text-second">
          <a href="##"
            >
            <no-typography>
              Равным образом, высокое качество позиционных высокотехнологичная
              концепция общественного уклада
            </no-typography>
              </a
          >
        </p>
        <div class="project__grid-item-3-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>14 мая</span>
        </div>
      </div>
      <div class="project__grid-item-4">
        <div class="project__hashtag"><a href="##">#fuji</a></div>
        <div class="project__grid-item-4-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>9 апреля</span>
        </div>
        <h3 class="project__grid-item-4-h3">Семантический разбор</h3>
        <p class="project__grid-item-4-text">
          <no-typography>
            В рамках спецификации современных стандартов, интерактивные прототипы
          </no-typography>
        </p>
        <button
          class="project__grid-item-4-button project-button"
          name="О проекте"
        >
          О проекте
        </button>
      </div>
      <div class="project__grid-item-5">
        <div class="project__hashtag"><a href="##">#проектзабвение</a></div>
        <div class="project__grid-item-5-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>20 марта</span>
        </div>
        <h3 class="project__grid-item-5-h3">Забвение</h3>
        <p class="project__grid-item-5-text">
          <no-typography>
            Играет важную роль в формировании глубокомысленных рассуждений
          </no-typography>
        </p>
        <button
          class="project__grid-item-5-button project-button"
          name="О проекте"
        >
          О проекте
        </button>
      </div>
      <div class="project__grid-item-6">
        <div class="project__hashtag"><a href="##">#ретушь</a></div>
        <picture>
          <source srcset="img/project-photo6_1x.avif" type="image/avif" />
          <source srcset="img/project-photo6_1x.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-photo6_1x.jpg"
            class="project__grid-item-6-photo"
            width="300"
            height="184"
            alt="project photo six"
          />
        </picture>
        <p class="project__grid-item-6-text-first">
          <a href="##">
            <no-typography>
              Как принято считать, многие известные личности и по сей день
              остаются уделом либералов…
            </no-typography>
          </a>
        </p>
        <div class="project__grid-item-6-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>9 марта</span>
        </div>
      </div>
      <div class="project__grid-item-7">
        <div class="project__hashtag"><a href="##">#портрет</a></div>
        <picture>
          <source srcset="img/project-photo7_1x.avif" type="image/avif" />
          <source srcset="img/project-photo7_1x.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-photo7_1x.jpg"
            class="project__grid-item-7-photo"
            width="300"
            height="184"
            alt="project photo six"
          />
        </picture>
        <p class="project__grid-item-7-text-first">
          <a href="##">
            <no-typography>
              С учётом сложившейся международной обстановки, новая модель
              организационной…
            </no-typography>
          </a>
        </p>
        <div class="project__grid-item-7-date">
          <svg class="project__date">
            <use xlink:href="../img/sprite.svg#date"></use>
          </svg>
          <span>1 марта</span>
        </div>
      </div>
    </div>
  </div>
</section>
