<section class="project" id="project">
  <div class="project__container container">
    <h2>Наши проекты</h2>

    <div class="project-item-mini project-item-1">
      <div class="project__photo-container-1">
        <span class="project-hashtag">#пейзаж</span>
      </div>
      <a class="news-name-1" href="##">Синтетически, смешаны с не уникальными данными до степени…</a>
      <div class="project-date">
        <img src="img/calendar.svg" alt="date svg" width="11.67" height="12.83">
        <span class="project-date__text">16 июня</span>
      </div>
    </div>

    <div class="project-item-mini project-item-2">
      <div class="project__photo-container-2">
        <span class="project-hashtag">#портрет</span>
      </div>
      <a class="news-name-2" href="##">В своём стремлении улучшить опыт мы упскаем,что явные…</a>
      <div class="project-date">
        <img src="img/calendar.svg" alt="date svg" width="11.67" height="12.83">
        <span class="project-date__text">28 мая</span>
      </div>
    </div>

    <div class="project-item-mini project-item-3">
      <div class="project__photo-container-3">
        <span class="project-hashtag">#предмет</span>
      </div>
      <a class="news-name-3" href="##">Равным образом, высокое качество позиционных…</a>
      <div class="project-date">
        <img src="img/calendar.svg" alt="date svg" width="11.67" height="12.83">
        <span class="project-date__text">14 мая</span>
      </div>
    </div>

    <div class="project-item-large project-item-4">
      <div class="project-item-large__container">
        <div class="project-date-large">
          <img src="img/calendar-white.svg" alt="date svg" width="11.67" height="12.83">
          <p class="project-date__text">9 апреля</p>
        </div>
        <h3>Cемантический разбор</h3>
        <a class="news-name-4" href="##">В рамках спецификации современных стандартов, интерактивные прототипы</a>
        <button class="reset-btn about-project-btn" name="About the project">О проекте</button>
      </div>
      <div  class="project-item-large__container-span">
        <span class="project-hashtag">#fuji</span>
      </div>
    </div>

    <div class="project-item-large project-item-5">
      <div class="project-item-large__container">
        <div class="project-date-large">
          <img src="img/calendar-white.svg" alt="date svg" width="11.67" height="12.83">
          <p class="">20 марта</p>
        </div>
        <h3>Забвение</h3>
        <a class="news-name-5" href="##">Играет важную роль в формировании глубокомысленных рассуждений</a>
        <button class="reset-btn about-project-btn" name="About the project">О проекте</button>
      </div>
      <div class="project-item-large__container-span">
        <span class="project-hashtag">#проектзабвение</span>
      </div>
    </div>
    <div class="project-item-medium project-item-6">
      <div class="project__photo-container-6">
        <span class="project-hashtag">#ретушь</span>
      </div>
      <a class="news-name-6" href="##">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</a>
      <div class="project-date">
        <img src="img/calendar.svg" alt="date svg" width="11.67" height="12.83">
        <span class="">9 марта</span>
      </div>
    </div>

    <div class="project-item-medium project-item-7">
      <div class="project__photo-container-7">
        <span class="project-hashtag">#портрет</span>
      </div>
      <a class="news-name-7" href="##">С учётом сложившейся международной обстановки, новая модель организационной…</a>
      <div class="project-date">
        <img src="img/calendar.svg" alt="date svg" width="11.67" height="12.83">
        <span class="project-date__text">1 марта</span>
      </div>
    </div>

  </div>
</section>
