// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --burnt-orange-color: #FF6E30;
  --fier-orange-color: #BC572B;
  --harley-orange-color: #CE4307;
  --bittersweet-color: #F06666;
  --red-orange-color: #FF3030;
  --tuft-bush-color: #FFD4C1;
  --black-color: #202020;
  --white-color: #FFFFFF;

  // animation
  --default-cubic: cubic-bezier(.26,.45,.3,.84);
}
