// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/burger";
@import "./components/hero";
@import "./components/about";
@import "./components/project";

